steps:
- name: 'gcr.io/cloud-builders/go'
  args: ['get']
  env:
  - GO111MODULE=on
  volumes:
  - name: go-modules
    path: /go

- name: 'gcr.io/cloud-builders/go'
  args: ['build', '-a', '-installsuffix', 'cgo', '-o', 'build/server']
  env:
  - GO111MODULE=on
  - GOPATH=.
  - CGO_ENABLED=0
  - GOOS=linux
- name: 'gcr.io/cloud-builders/docker'
  args: ['build', '.', '-t', 'gcr.io/$PROJECT_ID/$TAG_NAME', '-f', 'deploy/Dockerfile']
  volumes:
  - name: go-modules
    path: /go
  
artifacts:
  objects:
    location: gs://${PROJECT_ID}_cloudbuild/bin/
    paths:
    - build/server
images:
- 'gcr.io/$PROJECT_ID/$TAG_NAME'