steps:
- name: 'gcr.io/cloud-builders/go'
  args: ['get', '-d', './...']
  env:
  - 'GOPATH=/gopath'
  volumes:
  - name: 'go'
    path: '/gopath'

- name: 'gcr.io/cloud-builders/go'
  args: ['build', '-a', '-installsuffix', 'cgo', '-o', 'build/server']
  env:
  - 'GOPATH=/gopath'
  - CGO_ENABLED=0
  - GOOS=linux

- name: 'gcr.io/cloud-builders/docker'
  args: ['build', '.', '-t', 'gcr.io/$PROJECT_ID/$TAG_NAME', '-f', 'deploy/Dockerfile']

artifacts:
  objects:
    location: gs://${PROJECT_ID}_cloudbuild/bin/
    paths:
    - build/server
images:
- 'gcr.io/$PROJECT_ID/$TAG_NAME'